@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #C4A484;
    --text-color: #5C4033;
}

html {
    font-size: 10px;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #a52a2a;
}

#container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: #FFFFF0;
    gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

/* Profile Container */
#profile_container {
    display: flex;
    gap: 2.5rem;
    grid-column: span 3;
}

#profile_profileimg img {
    width: 100%;
    height: auto;
    max-width: 1500px;
}

#profile {
    grid-column: span 3;
    margin-bottom: 2rem;
}

#first_name {
    color: 5C4033;
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}

#last_name {
    color: #5C4033;
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}

#profile_title {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

#contact_info {
    margin: 0.2rem 0;
    font-size: 1.5rem;
}

#link {
    display: block;
    color: var(--text-color);
    text-decoration: underline;
    font-size: 1.6rem;
    margin-top: 1rem;
}

/* Expertise Section */
#id-1 {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-color: #BAB86C;
    padding: 2rem;
}

#title_expertise {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

#skills_list {
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
    list-style-type: none;
}

#skills_list li {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
}

#reference_title {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
}

#ref_item {
    color: var(--text-color);
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
}

#description {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 700;
}

/* Education Section */
#education_container {
    grid-column: span 2;
    background-color: #BAB86C;
    padding: 2rem;
}

#education_title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    line-height: 2;
    margin-bottom: 10px;
}

#edu_item {
    margin-top: 2rem;
}

#item_year {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}

#item_title {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0.8rem 0;
    color: var(--text-color);
}

#item_sub_title {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

/* Certifications Section */
#certifications_container {
    grid-column: span 1;
    background-color: #BAB86C;
    padding: 2rem;
}

#certification_titles {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    line-height: 2;
    margin-bottom: 10px;
}

#cert_item {
    margin-top: 2rem;
}

#item_title ul {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0.8rem 0;
}

/* Experience Section */
#id-2 {
    grid-column: span 2 / span 2;
    background-color: #BAB86C;
    padding: 2rem;
}

#experience_title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    line-height: 2;
    margin-bottom: 10px;
}

#exp_item {
    margin-top: 2rem;
}

/* Awards Section */
#awards {
    grid-column: span 1;
    background-color: #232ED1;
    padding: 2rem;
}

#awards_title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    line-height: 2;
    margin-bottom: 10px;
}

#awards_item {
    margin-top: 2rem;
}

[id^="id-"] {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

[id^="id-"] > * {
    margin-bottom: 1rem;
}

/* Media Queries */
@media only screen and (max-width: 3840px) {
    #container {
        width: 80%;
        grid-template-columns: 2fr;
        padding: 5rem;
        gap: 9rem;
    }
}

@media only screen and (max-width: 768px) {
    #container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
    #profile_container {
        flex-direction: column;
        align-items: center;
    }
}

p, #item_awards, #title_expertise, #item_year{
    font-size: large;
    color: var(--text-color);
}